.App {
  text-align: center;
}

.style {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 45rem;
  margin: 2rem;
  margin-inline: auto;
  margin-left: 20rem;
}

.style button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.result {
  font-size: 18px;
  margin: 10px;
}

.style2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40rem;
  height: 22rem;
  overflow: hidden;
  margin-inline: auto;

}


element.style {
  width: 0.2rem;
  height: 0.2rem;
}

div.filled-box {
  width: 20px;
  height: 20px;
  background-color: blue;
  margin: 1px;
  display: inline-block;
}




element.style {
  width: 0.2rem;
  height: 0.2rem;
}

div.empty-box {
  width: 20px;
  height: 20px;
  background-color: gray;
  margin: 1px;
  display: inline-block;
}